@charset 'UTF-8'; 

:root {
	--FG:255, 256, 255;
	--BG:30, 28, 27;
	--HL:63, 154, 44;
	--PAGE_WIDTH:960px;
	--BIG:32px;
	--MED:16px;
	--SML:8px;
	--QRT:4px;
	--TNY:2px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

html {
	min-height: 100%;
}

body {
	
	min-height: 100vh;
	margin: 0 auto;
	max-width: var(--PAGE_WIDTH);
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1,
header nav {
	align-self: center;
}

header nav {
	display: flex;
	column-gap: 1em;
}

main {
	flex-grow: 1;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	padding-top: var(--SML);
	padding-bottom: var(--SML);
}

main {
	padding-top: var(--SML);
	padding-bottom: var(--SML);
	padding-left: var(--MED);
	padding-right:var(--MED) ;
}

footer {
	padding-top: var(--QRT);
	padding-bottom: var(--QRT);
	padding-left: var(--MED);
	padding-right:var(--MED) ;
}

figure {
	margin: var(--MED) auto;
	text-align: center;
}

figcaption {
	margin-top: var(--QRT);
}

main ul,
main ol {
	margin: var(--MED) var(--BIG);
}










